// Container & breakpoints
@use 'sass:math';
$containerWidth:1110;
$containerPadding:40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1200:1119.98 + px;
$breakpoint992:991.98 + px;
$breakpoint768:767.98 + px;
$breakpoint480:479.98 + px;

@media(max-width: $breakpoint1200){

}

@media(max-width: $breakpoint992){

}

@media(max-width: $breakpoint768){

}

@media(max-width: $breakpoint480){

}


*{
    font-family: 'Fira Sans', sans-serif;
}


// Colors
$blue:#4737FF;
$black:#222222;
$lightblack:#222222af;

